/vendor/
/catatan-keuangan-android-webview/
/catatan-keuangan-ios-webview/
/.env
/runtime/*
!/runtime/.gitignore
/storage/private/*
!/storage/private/.gitignore
!/storage/private/receipts/
!/storage/private/payment_proofs/
/storage/*
*.zip
.DS_Store
