# Salin file ini menjadi keystore.properties setelah Anda membuat upload key.
# JANGAN upload keystore.properties atau file .jks ke Git/public.
storeFile=charlie-finance-upload-key.jks
storePassword=GANTI_PASSWORD_KEYSTORE
keyAlias=charlie-finance-upload
keyPassword=GANTI_PASSWORD_KEY
